@media only screen and (min-device-width : 720px) {
    .mobile-container__dropdown-links_container{
        display: none;
    }
    
    .mobile-button{
        display: none;
    }    

    

}

@media only screen and (min-device-width : 320px) and (max-device-width : 720px) {

    .wrapper{
        min-width: 320px;
    }

    /* ==================Header================= */
    
    header{
        height: 76px;
        width: 100%;
    }
    
    .mobile-container{
        display: block;
        width:100%;
        height: 76px;
        background-color:white;
    }
    .main-banner__mobile{
        display: block;
    }

    .mobile-container__menu-top{
        width:100%;
        height:76px;
    }

    .mibile-conteiner__menu-top a {
        color:black;
    }

    .mobile-container i{
        float:left;
        font-size: 28pt;
        margin:15px 0 0 20px;
    }


    .mobile-container__logo{
        width:91px;
        float: right;
        margin:15px 20px 0  0; 
    }

   

    .mobile-container__dropdown-links_container_links{
        position: relative;
        width: 100%;
        background-color:white;
        z-index: 3;
        transition: all 0.5s ease 0s;
    }
   
  
    .mobile-container__dropdown-links_container_links li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: #f2f2f2;
        font-size: 16pt;
        font-weight: bold;
        padding-left: 20px;
        
    }

    .mobile-container__dropdown-links_container_links li:hover {
        background-color: #ffffff ;
        color:#f97800; 
        width:100%;
        height: 40px;
        padding-left: 20px;
    }

  
    .menu-top{
        display: none;    
    }

    .menu-bottom{
        display: none;
    }

    /* ---------------------main-banner-mobile-------------------------- */

    .main-banner{
        margin-top: 0;
        width: 100%;
        height: 316px;
    }

    .main-banner__mobile{
        width:100%;
        height: 316px;
        background-color:rgb(179, 179, 179);
        background-image: url(../img/mobile/main-banner-mobile-img.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }

    .main-banner__mobile_content-container{
        margin: 0 auto;
        max-width: 280px; 
        padding: 0 10px;
        text-align: center;
    }

    .main-banner__mobile_content-container_head{
        padding:23px 0 0 0;
        text-align: center;
        font-size: 24pt;
        color: #fff;
    }

    .main-banner__mobile_content-container_price{
        margin-top:15 px;
        position: relative;
        height: 100px;
    }

    .main-banner__mobile_content-container_price_top{
        font-size: 22pt;
        margin-left: 95px;
        font-weight: 100;
        color: rgb(255, 255, 255);   
    }
    
    .main-banner__mobile_content-container_price_name{
        float: left;
        margin: 40px 0 0 0 ;
        text-align: right;
        font-size: 22pt;
        font-weight: 100;
        color: rgb(255, 255, 255);
        width:50%;
    }

    .main-banner__mobile_content-container_price_name span{
        margin-left:10px;
        padding-top: 9px;
        float: right;
        font-size: 12pt;
        color: rgb(255, 255, 255); 
    }

    .main-banner__mobile_content-container_price_number {
        float: left;
        text-align: left;
        font-size: 70pt;
        line-height: 75px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        color: rgb(255, 255, 255);
        width:50%;
    }

   

    .main-banner__mobile_content-container_bottom{
        margin-top:27px;
        color:#fff;
    }


    .main-banner__mobile_bottom_content-container_icon{
        margin-top:10px;
    }
    

        
    .main-banner__left{
        display: none;
    }

    .main-banner-right{
        display: none;
    }

    /* ------------------User-sites-section-mobile------------------------ */

    .user-sites__header{
        width:280px;
        margin:auto;
        margin-bottom: 30px;
    }

    .user-sites__header h2{
        width:280px;
        margin-top: 40px;
        font-size:20pt;
        line-height: 20pt;
    }

    .user-sites__header h3{
        width:280px;
        line-height: 16pt;
        font-size:12pt;
    }


    .user-sites__container_row:last-child{
        display: none;
    }


    .user-sites__container_row{
        height:535px;    
    }


    .user-sites__container_img{
        width:280px;
        height:147.5px;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .user-sites__container_img img{
        width:280px;
        
    }

    .user-sites__container_img-mobilenone{
        display: none;
    }
    
    .user-sites{
        height:1975px;
    }


    /* -----------------------Footer---------------------------- */
    .footer{
        margin-top:-40px;
    }

    .footer-top{
        display: none;
    }

    /*---------------------- Footer green------------------ */
    
    .footer-green{
        height:500px;
    }

    .footer-green__number{
        display: none;
    }

    .footer-green__mobile-container{
        display: block; 
        height:500px;     
    }

    .footer-green__mobile-container_list{
        padding:25px;
    }    

    .footer-green__mobile-container_list li{
        text-align: center;
        color:white;
        font-size: 14pt;
        list-style: none;
    }

    .footer-green__mobile-container_list a{
        text-align: center;
        color:white;
        font-size: 14pt;
    }

    .footer-green__mobile-container_list img{
        text-align: center;
        color:white;
        font-size:25pt;
        margin:0 10px 0 10px;
    }

    /* Footer dark */
    
    .footer-dark{
        display: none ;
    }

    .footer-dark__mobile{
        display:block;
        height:497px;
        
        background-color:#43464a;
        /* padding:0 20px; */
    }

    .footer-dark__desktop{
        display:none;
        height:392px;
    }

    .footer-dark__list_search{
        margin-top: 40px;
    }

    .footer-dark__list_search li{
        text-align: center;
        list-style: none;
        margin-bottom: 20px;
    }

    .footer-dark__list_search{
        text-align: center;
        width:100%;
    }

    .footer-dark__list_search_icon-list li{
        display: inline-block;
        width: 35px;
        margin-right: 35px;
    }

    .facebook img {
        width:25px;
        height:47px;
    }

    

    .footer-dark__list_search_icon-list li img{
       
        width: 100%;
    }

    

   
    .footer-dark__list_input-container{
        margin: 0 auto;
        width:280px;
        height:60px;
    }

    .footer-dark__list_input-container-button{
        width:65px;
        height:60px;
        float: right;
    }

    .desctop-button-text{
        display: none;
    }

    .footer-dark__list_input-container-input{
        width:200px;
        height:60px;
        float: left;
    }

    /* Foooter white */

    .footer-white{
        height:335px;
    }

    .footer-white__container-desktop{
        display: none;
    }

    .footer-white__container-mobile{
        display: none;
        
        
    }

    .footer-white__img-list{
        margin:0 auto; 
        margin-bottom:10px;
        width:300px;
        padding: 20px  10px 0 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction:column; 
    }

    .footer-white__img-list_continer-top{
        order: 1;
        height:150px;
        width:100%;
        float:left;
    }


    .footer-white__img-list_container-left{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction:column;
        width:130px;
        height: 150px;
        float: left;
        margin: 10px 10px 0 10px;
    }

    .footer-white__img-list_container-right{
        width:130px;
        height:150px;
        float: left;
        margin: 10px 10px 0 10px;
    }


    .footer-white__img-list_container-bottom{
        order: 2;
        width: 100%;
        float: right;
        text-align: center;
        padding-top: 20px;
        margin-bottom:20px;
    }

    .footer-white__img-list_container-bottom li{
        margin-top:0;
    }

    /* .registrars {
        
    } */
   
    .registrars img{
        width:102px;
        margin-left:30px;
        
    }

    .psi {
        order: 1;
    } 

    .psi img{
        margin-top:20px;
        width:102px;

        
    }

    .rapid-ssl{
        order: 2;
    }


    .rapid-ssl img{
        width:87px;
        
    }

    .pay {
        
        margin:0;
    }

    .pay img{
        width:188px;
        margin:0 auto;
    }


    .footer-white__content-continer_copyright{
        margin-bottom: 15px;
    }


}
