*{
    margin:0;
    padding:0;
    
}

body,html{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color:#ebebeb;
    direction: ltr;
    list-style-type:none;
    text-decoration:none;
}


input, button { 
    border:none;
 } 


#new-here{
    display:none;
    width:100px;
    height:100px;
    background-color:black;
}

 
 .wrapper{
    min-width: 960px;    
}

.content{
    width:960px;
    margin: 0 auto;
}  

 

/*======================header=========================*/

header{
    
    height: 121px;
    
}

.mobile-container__dropdown-links_container_links{
    display: none;
}

/* =====================menu-top===================== */

.mobile-container{
    display: none;
} 

.mobile-container__dropdown-links_container{
    
}

.menu-top{
    
    width: 100%;
    height:40px;
    background-color:#404040;
    
}

.menu-top__list{
    max-width: 960px;
    margin:0 auto;  
}


.menu-top__list ul{
    margin-top:5px;
    height:27px;
    display: inline-block;
    
    
}

.menu-top__list i {
    font-size: 11pt;
}

.menu-top__list li{
    display: inline-block;
    color:white;
    padding-top: 4px;
}

.menu-top__list li a{
    text-decoration: none;
    color:white;
    
}


.menu-top__list_left {
    border-right: 1px solid #b2b2b2;
    width: 202px;
    
} 

.menu-top__list_left li{
    width:70px;
    height:25px;
    background-color:#f97800;
    display: inline-block;
    text-align: center;
    margin-right:1px;
    margin-left: 10px 0 0 0;
}

.menu-top__list_left{
    margin-left:10px;
}


.menu-top__list_middle {
    width:178px;
    height:27px;
    padding-left:40px;
    border-right: 1px solid #b2b2b2;
    display: inline-block;
}


.menu-top__list_middle li{
    margin-right:20px;
    
}


.menu-top__list_middle:first-child{
    margin-left:40px;
}


.menu-top__list_right{
    padding-left:60px;
}

.menu-top__list_right li{
    margin-right:25px;
    
}

.menu-top__list_right i{
    margin-left:5px;
}

/*===================Menu bottom====================== */

.menu-bottom{
    width: 100%;
    height: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0px 8px 5px 0px rgba(186,186,186,1);
    -moz-box-shadow: 0px 8px 5px 0px rgba(186,186,186,1);
    box-shadow: 0px 8px 5px 0px rgba(186,186,186,1);
}

.menu-bottom__container{
    max-width: 960px;
    margin:0 auto;
    height: 80px;
  
}

.menu-bottom__container_list{
    width:750px;
    margin-left:60px;
    margin-top: 28px; 
    float: left;
    clear: right;
}

.menu-bottom__container_list li{
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.menu-bottom__container_list li:hover {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}


.menu-bottom__container_list li a:hover {
    background-color: #f2f2f2;
    color:#f97800; 
    width:120px;
    height: 40px;

  }

  .menu-bottom__container_list li a{
    text-decoration: none;
    color:black; 
  }

  .logo{
    float: right;  
    margin: 10px 0 0 0;
    padding-right:10px;
  }


  /*======================== Main banner section======================= */

  .main-banner__mobile{
      display: none;
  }

  .main-banner{
    height: 495px;
    max-width: 960px;
    margin:0 auto;
    margin-top:52px;
  }

  
  /* =======================Main banner left ========================== */

  
  .main-banner__left{
    width:300px;
    height: 100%;
    margin-left:5px;
    float: left;
}

  
.main-banner__left h1{
    clear: right;
    font-size:50px;
    font-weight: medium;
    color:#68ae00;
    text-align: right;
    margin-bottom: 10px;
 }


.main-banner__left p {
    text-align: right;
    font-size: 14pt;
}

.main-banner__left h3{
    margin: 10px 0 53px 0;
    text-align: right;
}

.main-banner__left h3 a{
    text-decoration: none;
    color:black;
}

.main-banner__left h2{
    color:white;
    background-color:#f97800;
    text-align: center;
    width:215px;
    line-height: 52px;
    height: 52px;
    margin: 20px auto;
}

.main-banner__left h2 a{
    text-decoration: none;
    color: white;
}

.main-banner__left_p-orange{
    width: 215px;
    margin:40px auto;
    text-align: left;
    font-weight: bold;
    color:#f97800;
    direction: ltr;
}

.main-banner__left_p-orange a{
    text-decoration: none;
    color:#f97800;
}

.main-banner__left_p-orange a i{
    float: left;
    font-size: 20px;
    margin-top:3px;
    margin-left:46px
}
    
  /* ======================Main banner right ======================== */

  .main-banner-right{
    width:630px;
    height: 400px;
    float:right;
  }

  .main-banner-right__img{
    float: right;
    padding-right:10px;
    width:600px;
    height:425px;
    margin: 20px 5px 0 0 ;  
  }


  /* ========================User sites===============================*/
.user-sites{
  height:1115px;
    max-width: 960px;
    margin:0 auto;
}


.user-sites__header{
    margin:57px 14px 40px 0;
    text-align:right;
}

.user-sites__header h2{
    line-height: 40px;
    margin:15px 0 20px 0;
    font-size:32pt;
}


.user-sites__header h3{
    font-weight:lighter;
    font-size:12pt;
}

/* ---------------------------Setka saitesov------------------------ */

.user-sites__container_img-mobilenone{
    display: block;
}

.user-sites{
    height:1137px;
}


.user-sites__contaier{
    height:1137px;
    max-width:960px;   
}

.user-sites__container_row{
    height: 188px;
    padding: 0 14px;   
}

.user-sites__container_img{
    width:300px;
    height:158px;
    margin:10px 4px 20px 4px;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(224,224,224,0.52);
    -moz-box-shadow: 5px 5px 5px 0px rgba(224,224,224,0.52);
    box-shadow: 5px 5px 5px 0px rgba(224,224,224,0.52);
    text-align: center;
}


.user-sites__container_img:hover {
    opacity: 0.3;
  }

.user-sites-name{   
    opacity: 0;
    position: relative;
    text-align:center;
    position: absolute; 
    width:300px;
    top: 50%;
    transform: translateY(-50%);
}


  .user-sites__container_img:hover .user-sites-name{
    opacity: 100%;
    color:white ;

}  

/* -------------------------Footer------------------------------ */


.footer{
    width: 100%;
    height:600px;
    background-color:#404040;
}


.footer-top{
    height: 450px;
    background-image: url("../img/footer-image.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
}

.footer-top__content-container{
    max-width: 960px;
    margin:0 auto; 
    text-align: center;  
}

.footer-top__head{
    padding-top:50px;
    text-align: center;
    margin-bottom: 30px;
}


.footer-top__head h2{
    color:#68ae00;
    font-size: 25pt;
    margin:10px 0 20px 0;
}

.footer-top__list ul{
    display: inline-block;
    
}


.footer-top__list li{
    list-style-type:none;
    text-align: center;
    width:300px;
}

.footer-top__li-orange a{
    text-decoration: none;
    color:black;
    
}

.footer-top__list_green{
   display: inline-block; 
   text-align: center;
   color:#68ae00;
   margin-top:30px;
   margin-right:100px;
   font-size: 40pt;
   width: 55px;
   margin: auto;
}

.footer-top__list_green a {
    color:#68ae00; 
}

.footer-top__list_bold{
    font-size: 14pt;
    font-weight:bold;
}

.footer-top__li-orange i{
    color: #f97800;
    margin-right: 5px;
}


/* footer-dark */

.footer-dark{
    height: 393px;
    background-color: #43464a;
}

.footer-dark__content-container{
    width: 960px;
    margin:0 auto;   
}

.footer-dark__list{
    width:940px;
    margin: 0 auto;
    padding-top: 90px;
}

.footer-dark__list ul{
    
    margin-top: 0px;
    /* margin-right:90px;
    margin-left:10px; */
    
}


.footer-dark__list ul li{
    text-align: right;
    list-style: none;
    margin-bottom: 10px;
}

.footer-dark__list_search_green li{
    font-size:18pt;
    font-weight:bold;
    color:#68ae00;
}

.footer-dark__list_search_green li a{
    text-decoration: none;
    color:#68ae00; 
}

.footer-dark__list_left{
    width:145px; 
    
    margin-right:90px;
    font-size: 12pt;
    color:white;
    float: left;
}

.footer-dark__list_left a{
    text-decoration: none;
    color:white;
    
}

.footer-dark__list_middle{
    width:80px;
    margin-left:50px; 
    margin-right: 90px;
    font-size: 12pt;
    color:white;
    float:left;
}

.footer-dark__list_middle a{
    text-decoration:none;
    color:white;
}

.footer-dark__list_right{
    /* width:60px; */
    margin-right:80px;
    font-size: 12pt;
    color:white;
    float:left;
}

.footer-dark__list_right a{
    text-decoration: none;
    color:white;
}


.footer-dark__list_search{
    /* width:340px; */
    font-size: 12pt;
    color:white;
    float:left;
    margin-right:10px;
}

.footer-dark__list_search a{
    text-decoration:none;
    color:white;
}

.footer-dark__list_search ul{
    margin:0;
}



.footer-dark__list_search_icon-list{
    display: inline-block;
    
}

.footer-dark__list_search_icon-list :last-child{
    margin-right:0;
}


.footer-dark__list_search_icon-list li{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}



.footer-dark__list_input-container{
    width: 339px;
    height:40px;
    background-color: #ebebeb;
}

.footer-dark__list_input-container-button{
    width: 75px;
    height:40px;
    background-color:#68ae00;
    color: #ebebeb;
    font-size: 12pt;
    font-weight: bold;
}
/* ================mobile-button-display---------------------- */



.footer-dark__list_input-container-input{
    width: 248px;
    height:39px;
    padding-right:12px;
    background-color:#ebebeb;
    text-align: right;
    color: #43464a;
    font-size:12pt;
    border: none;
}

.footer-dark__list_input-container-input:focus {
    outline: none;
}


/* footer-green */

.footer-green{
    width:100%;
    height:100px;
    background-color: #68ae00;
}

.footer-green__mobile-container{
    display: none;
}

.footer-green__number{
    display: inline-block;
    width:100%;
    line-height:98px;
    text-align: center;
    color: white;
    font-size: 16pt;
}

/* -----------Footer-white------------ */

.footer-white{
    height: 296px;
    background-color:white;
}

.footer-white__content-container{
    
    max-width: 960px;
    margin:0 auto;  
}

.footer-white__container-mobile{
    display: none;
}

.footer-white__img-list{
    position: relative;
    margin-bottom:50px;
    padding: 30px 50px 0 50px;
    
}

.footer-white__img-list_container-bottom{
  display: inline-block;   
}

.footer-white__img-list_container-left{
    display: inline-block;  
}

.footer-white__img-list_container-right{
    display: inline-block;   
}

.footer-white__img-list:before {
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    }

.footer-white__img-list li{
    display: inline-block;
    vertical-align: middle;
    
    
}

.pay{
    margin-right:60px;
}

.rapid-ssl{
    margin-right:30px;
}

.psi{
    margin-right:58px;
}


.footer-white__content-continer_copyright{
    font-size:10pt;
    text-align: center;
    margin-bottom: 30px;
   
}



